<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>categoriass</title>
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  
</head>
<body>

  <div id='botones'>
    <a href="/logout2" style='color:white'>Cerrar</a>
    <a href="/usuarios">Users</a>
    <a href="/compras">Compras</a>
    <a href="/productos">Productos</a>
    <a href='/categorias' id='botonProductos'>Categorias</a> 
  </div>

  <h1><span>Categorias</span>  <%=modelo.length%></h1>
  <div class="table">
    <table border>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th><a href="/addCategorias"><img src="/icon/add.png" id='add'></a></th>
          </tr>
          <%for(const categorias of modelo){%>
            <tr>
              <td><%=categorias.id%></td>
              <td><%=categorias.nombre%></td>
              <td class="icon">

              <a href="/updateCategoria/<%=categorias.id%>"><img src="/icon/update.png" width="30"></a>
              <a href="/eliminarCategoria/<%=categorias.id%>"><img src="/icon/delete.png" width="30"></a>
             </td>
            </tr>
           <%}%>
        </table>
       
  </div>
</body>
</html>
