<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= og.title %></title>
  <meta name="description" content="<%= og.description %>">
  <meta property="og:title" content="<%= og.title %>">
  <meta property="og:description" content="<%= og.description %>">
  <meta property="og:image" content="<%= og.image %>">
	<link rel="icon" type="image/x-icon" href="/icon/ico.png" />
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
 <h1 class="login">Inicio de Sesion</h1>
<div id='otroLogin'>
<div id="login">

	<form class="login_form" action="/login" method="post">

			<label for="admin">Administrador</label>
			<input type="text" name="admin" required="required">
	
			<label for="password">Contraseña</label>
			<input type="text" name="password" required="required">
	
			<input type="submit" name="enviar" value="Login" id='iniciar'>	
	
	</form>

</div>
</div>
</body>
</html>



