<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>Productos</title>
  <link rel="icon" type="image/x-icon" href="/icon/ico.png" />
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  
</head>
<body>
  <div id='botones'>
    <a href="/logout2" style='color:white'>Cerrar</a>
    <a href="/usuarios">Users</a>
    <a href="/compras">Compras</a>
    <a href="/productos">Productos</a>
    <a href='/categorias' id='botonProductos'>Categorias</a> 
  </div>
  <h1><span>Productos</span>  <%= modelo.length%></h1>
  <div class="table">
    <table>
          <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Color</th>
            <th>Peso</th>
            <th>Categoria</th>
            <th><a href="/add"><img src="/icon/add.png" id='add'></a></th>
          </tr>
          <%for(const producto of modelo){%>
            <tr>
              <td><%=producto.producto_id%></td>
              <td><%=producto.nombre%></td>
              <td><%=producto.codigo%></td>
              <td><%=producto.precio%></td>
              <td><%=producto.descripcion%></td>
              <td><%=producto.color%></td>
              <td><%=producto.peso%></td>
              <td><%=producto.categoria_id%></td>
              <td class="icon">
              <a href="/update/<%= producto.producto_id%>"><img src="/icon/update.png" width="30"></a>
              <a href="/delete/<%= producto.producto_id%>"><img src="/icon/delete.png" width="30" id="delete"></a>
              <a href="/addImagen/<%= producto.producto_id%>"><img src="/icon/imagen.png" width="30"></a>
             </td>
            </tr>
           <%}%>
        </table>
       
  </div>

</body>
</html>
